*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
}
h1{
     margin: 5px 0 50px 0;
     text-align: center;
}
.backspace{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    margin:5px;
    
}
img{
     width: 40px;
     height: 30px;
     border-radius: 5px;


}
.result-display{
    margin: 50px 0 50px 0;
    height: 100px;
    background-color: rgb(64, 66, 64);
    width: 100%;
    border-radius: 10px;
    color: rgb(216, 112, 112);
    font-size: 27px;
    display: flex;
    flex-direction: column;
    padding: 15px;

}
.expression{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    flex:1 1 0;
}
.calculations{
    display: flex;
    justify-content: flex-end;
}
.main-container{
    background-color: rgb(223, 217, 217);
    padding: 40px;
    width: 500px;
    height: 570px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.digits{
    width: 80px;
    height: 40px;
    text-align: center;
    background-color: aqua;
    
    border-radius: 5px;
    font-size: 19px;
    margin:5px;
    cursor: pointer;

}
.first-part-buttons{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}
.operators{
    width: 80px;
    height: 40px;
    background-color: rgb(243, 138, 138);
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    font-size: 19px;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: center;

    
}
.second-part-buttons{
    display: flex;
    flex-direction: column;
    
}
.evaluator{
    width: 80px;
    height: 40px;
    background-color: rgb(204, 115, 200);
    text-align: center;
    font-size: 19px;
    
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.clearing-button{
    width: 80px;
    height: 40px;
    text-align: center;
    background-color: rgb(216, 187, 22);
    border-radius: 5px;
    font-size: 19px;
    margin:5px;
    cursor: pointer;

}
.decimal{
     width: 80px;
    height: 40px;
    background-color: rgb(243, 138, 138);
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    font-size: 19px;
    cursor: pointer;
}